html,body{overflow: auto; }
body{
    background-image: url("background.jpg");
}

.logo-box {
    position: fixed;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 18px;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 600px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin-right: 10px;
  }
  
  .logo-text {
    margin: 0;
  }

  .Profile{
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 265px;
    height: 70px;
    margin-left: 100px;
    margin-top: 100px;
  }
  
  .profileicon{
    padding-left: 10px;
    width: 50px;
    height: 50px;
    padding-top: 10px;
  }

.profilename{
  margin-top: -75px;
  margin-left: 70px;
}

.profile-name{
  display: inline-block;
}

.profileid{
  margin-top: -75px;
  margin-left: 70px;
}

.profile-id{
  display: inline-block;
}

.profile{
  margin-top: 30px;
}

.content{
    border: 1px solid black;
    position: fixed;
    overflow: auto;
    background-color: #f2f2f2;
    height: 500px;
    width: 1000px;
    margin-left: 390px;
    margin-top: 120px;
}
  
  .text-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  
  .text1 {
    margin: 0;
  }
  
  .lineheader {
    flex-grow: 1;
    border-top: 1px solid black; /* Set the line color to black */
    margin: 5px 0;
  }
  
  .text2 {
    margin: 0;
  }
  


.syarattitle{
  font-size: 25px;
  text-align: center;
}

.syaratp{
  font-size: 22px;
  margin-left: 30px;
}

.syaratlist li{
  margin-left: 40px;
  font-size: 17px;
  padding-top: 5px;
}

.contact{
  margin-top: 50px;
  margin-left: 30px;
}

.button{
  margin-left: 30%;
  margin-top: 395px;
}
button{
  width: 100px;
  border-radius: 40px;
}

.apply-content{
  position:absolute;
  margin-left: 4.4px;
  border: 1px solid black;
  width: 99%;
  height: 380px;
  overflow: auto;
  background-color: #D9DDDC;
}

.menu-box{
  position: absolute;
    margin-top: 180px;
    margin-left: 100px;
    background-color:rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    box-sizing:border-box;
    width: 265px;
    height: 640px;
    padding: 10px;
    border-radius: 10px;
}

.menu{
  
    border: 1px solid black;
    box-sizing:border-box;
    width: 240px;
    height: 620px;
    border-radius: 5px;
}



.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item-head{
  display: inline-block;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.menu-item {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.sub-menu li {
  margin-bottom: 5px;
}

.menu-item:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}

.line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: blue;
  transition: width 0.3s ease;
}

.menu-item:hover .line,
.menu-item.active .line {
  width: 100%;
}

nav ol li {
  list-style-type: none;
  padding-top: 10px;
}

a {
  color: black;
  text-decoration: none;
}

#li #a::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: black;
  display: block;
  transition: width 0.3s linear;
}

#li #a:hover::after {
  width: 100%;
}